.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-top: 40px;
  padding: 2% 8%;
  background-color: #151419;
  color: #fff;

  img {
    height: 150px;
  }

  &__contacts {
    line-height: 40px;
    margin-left: auto;

    img {
      width: 50px;
      height: 50px;
      margin: 0 10px;
    }

    &-title {
      text-align: center;
    }
  }
}

@media screen and (max-width: 530px) {
  .footer {
    height: 100px;

    img {
      height: 100px;
    }

    &__contacts {
      text-align: center;

      img {
        width: 20px;
        height: 20px;
        margin: 0 10px;
      }

      &-title {
        text-align: center;
      }
    }
  }
}